@import "@core/scss/base/pages/app-ecommerce.scss";
@import "@core/scss/angular/libs/noui-slider.component.scss";

.add-product-btn {
  padding: 6px 12px;
}

.add-product-ic {
  margin-right: 4px;
  position: relative;
  top: 1px;
}
