<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- account setting page -->
    <section id="page-account-settings">
      <div class="row nav-vertical d-flex">
        <div class="col-md-3 mb-2 mb-md-0">
          <ul
            ngbNav
            #navVertical="ngbNav"
            class="nav nav-pills flex-column nav-left"
          >
            <li class="nav-item" ngbNavItem>
              <a
                ngbNavLink
                class="nav-link d-flex py-75"
                id="account-pill-general"
                data-toggle="pill"
                href="#account-vertical-general"
                aria-expanded="true"
              >
                <i data-feather="user" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">General</span>
              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="mx-auto mb-2">
                    <span
                      *ngIf="loading"
                      class="spinner-border spinner-border-sm"
                    ></span>
                  </div>
                  <div class="card-body" *ngIf="!loading">
                    <!-- header media -->
                    <div class="media">
                      <a href="javascript:void(0);" class="mr-25">
                        <img
                          [src]="avatarImage"
                          class="rounded mr-50"
                          alt="profile image"
                          height="76"
                          width="80"
                        />
                      </a>
                      <!-- upload and reset button -->
                      <div class="media-body mt-75 ml-1">
                        <button
                          (click)="file.click()"
                          for="account-upload"
                          class="btn btn-sm btn-primary mb-75 mr-75"
                          rippleEffect
                        >
                          Upload
                        </button>
                        <input
                          type="file"
                          #file
                          id="account-upload"
                          hidden
                          accept="image/*"
                          (change)="uploadImage($event)"
                        />
                        <button
                          class="btn btn-sm btn-outline-secondary mb-75"
                          rippleEffect
                        >
                          Reset
                        </button>
                        <p>Allowed JPG, GIF or PNG. Max size of 800kB</p>
                      </div>
                      <!--/ upload and reset button -->
                    </div>
                    <!--/ header media -->

                    <!-- form -->
                    <form
                      class="validate-form mt-2"
                      [formGroup]="generalSettingsForm"
                      (ngSubmit)="onGeneralSettingSubmit()"
                    >
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-firstname">First Name</label>
                            <input
                              class="form-control"
                              id="account-firstname"
                              name="firstname"
                              placeholder="first name"
                              formControlName="firstName"
                              aria-describedby="account-firstname"
                              [ngClass]="{
                                'is-invalid':
                                  submitted && generalF.firstName.errors
                              }"
                            />
                            <div
                              class="invalid-feedback"
                              *ngIf="submitted && generalF.firstName.errors"
                            >
                              <div *ngIf="generalF.firstName.errors?.required">
                                First Name is required
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-lastname">Last Name</label>
                            <input
                              type="text"
                              class="form-control"
                              id="account-lastname"
                              name="lastname"
                              placeholder="lastname"
                              formControlName="lastName"
                              [ngClass]="{
                                'is-invalid':
                                  submitted && generalF.lastName.errors
                              }"
                            />
                            <div
                              *ngIf="submitted && generalF.lastName.errors"
                              class="invalid-feedback"
                            >
                              <div *ngIf="generalF.lastName.errors?.required">
                                Lastname is required
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-e-mail">E-mail</label>
                            <input
                              type="email"
                              class="form-control"
                              id="account-e-mail"
                              name="email"
                              placeholder="Email"
                              formControlName="email"
                              [ngClass]="{
                                'is-invalid': submitted && generalF.email.errors
                              }"
                            />
                            <div
                              *ngIf="submitted && generalF.email.errors"
                              class="invalid-feedback"
                            >
                              <div *ngIf="generalF.email.errors?.required">
                                Email is required
                              </div>
                              <div *ngIf="generalF.email.errors?.email">
                                Email must be a valid email address
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-company">Company</label>
                            <input
                              type="text"
                              class="form-control"
                              id="account-company"
                              name="company"
                              placeholder="Company name"
                              formControlName="company"
                              [ngClass]="{
                                'is-invalid':
                                  submitted && generalF.company.errors
                              }"
                            />
                            <div
                              *ngIf="submitted && generalF.company.errors"
                              class="invalid-feedback"
                            >
                              <div *ngIf="generalF.company.errors?.required">
                                Company is required
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 mt-75" *ngIf="error">
                          <div class="alert alert-warning mb-50" role="alert">
                            <h4 class="alert-heading">
                              {{ error }}
                            </h4>
                          </div>
                        </div>
                        <div class="col-12">
                          <button
                            [disabled]="loading"
                            type="submit"
                            class="btn btn-primary mt-2 mr-1"
                            rippleEffect
                          >
                            <span
                              *ngIf="loading"
                              class="spinner-border spinner-border-sm mr-1"
                            ></span>
                            Save changes
                          </button>
                          <button
                            type="reset"
                            class="btn btn-outline-secondary mt-2"
                            rippleEffect
                          >
                            Cancel
                          </button>
                        </div>
                      </div>
                    </form>
                    <!--/ form -->
                  </div>
                </div>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a
                ngbNavLink
                class="nav-link d-flex py-75"
                id="account-pill-password"
                data-toggle="pill"
                href="#account-vertical-password"
                aria-expanded="false"
              >
                <i data-feather="lock" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Change Password</span>
              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="card-body">
                    <!-- form -->
                    <form
                      class="validate-form"
                      [formGroup]="changePassForm"
                      (ngSubmit)="onChangePassSubmit()"
                    >
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-old-password"
                              >Old Password</label
                            >
                            <div
                              class="input-group form-password-toggle input-group-merge"
                            >
                              <input
                                [type]="
                                  passwordTextTypeOld ? 'text' : 'password'
                                "
                                class="form-control form-control-merge"
                                id="account-old-password"
                                name="password"
                                placeholder="Old Password"
                                formControlName="old_password"
                                [ngClass]="{
                                  'is-invalid error':
                                    submitted && changePassF.old_password.errors
                                }"
                              />
                              <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"
                                  ><i
                                    class="feather font-small-4"
                                    [ngClass]="{
                                      'icon-eye-off': passwordTextTypeOld,
                                      'icon-eye': !passwordTextTypeOld
                                    }"
                                    (click)="togglePasswordTextTypeOld()"
                                  ></i
                                ></span>
                              </div>
                            </div>
                            <div
                              *ngIf="
                                submitted && changePassF.old_password.errors
                              "
                              class="invalid-feedback"
                              [ngClass]="{
                                'd-block':
                                  submitted && changePassF.old_password.errors
                              }"
                            >
                              <div
                                *ngIf="
                                  changePassF.old_password.errors?.required
                                "
                              >
                                Old Password is required!
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-new-password"
                              >New Password</label
                            >
                            <div
                              class="input-group form-password-toggle input-group-merge"
                            >
                              <input
                                [type]="
                                  passwordTextTypeNew ? 'text' : 'password'
                                "
                                id="account-new-password"
                                name="new-password"
                                class="form-control form-control-merge"
                                placeholder="New Password"
                                formControlName="new_password"
                                [ngClass]="{
                                  'is-invalid error':
                                    submitted && changePassF.new_password.errors
                                }"
                              />
                              <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"
                                  ><i
                                    class="feather font-small-4"
                                    [ngClass]="{
                                      'icon-eye-off': passwordTextTypeNew,
                                      'icon-eye': !passwordTextTypeNew
                                    }"
                                    (click)="togglePasswordTextTypeNew()"
                                  ></i
                                ></span>
                              </div>
                            </div>
                            <div
                              *ngIf="
                                submitted && changePassF.new_password.errors
                              "
                              class="invalid-feedback"
                              [ngClass]="{
                                'd-block':
                                  submitted && changePassF.new_password.errors
                              }"
                            >
                              <div
                                *ngIf="
                                  changePassF.new_password.errors?.required
                                "
                              >
                                New Password is required!
                              </div>
                              <div
                                *ngIf="changePassF.new_password.errors?.pattern"
                              >
                                A password should be 6 characters long, a number
                                & a special character.
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-retype-new-password"
                              >Retype New Password</label
                            >
                            <div
                              class="input-group form-password-toggle input-group-merge"
                            >
                              <input
                                [type]="
                                  passwordTextTypeRetype ? 'text' : 'password'
                                "
                                class="form-control form-control-merge"
                                id="account-retype-new-password"
                                name="confirm-new-password"
                                placeholder="New Password"
                                formControlName="confirm_password"
                                [ngClass]="{
                                  'is-invalid error':
                                    submitted &&
                                    changePassF.confirm_password.errors
                                }"
                              />
                              <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"
                                  ><i
                                    class="feather font-small-4"
                                    [ngClass]="{
                                      'icon-eye-off': passwordTextTypeRetype,
                                      'icon-eye': !passwordTextTypeRetype
                                    }"
                                    (click)="togglePasswordTextTypeRetype()"
                                  ></i
                                ></span>
                              </div>
                            </div>
                            <div
                              *ngIf="
                                submitted &&
                                (changePassF.confirm_password.errors ||
                                  changePassForm.errors?.matching)
                              "
                              class="invalid-feedback"
                              [ngClass]="{
                                'd-block':
                                  submitted &&
                                  (changePassF.confirm_password.errors ||
                                    changePassForm.errors?.matching)
                              }"
                            >
                              <div
                                *ngIf="
                                  changePassF.confirm_password.errors?.required
                                "
                              >
                                Confirm Password is required!
                              </div>
                              <div *ngIf="changePassForm.errors?.matching">
                                Confirm password not matching!
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 mt-75" *ngIf="error">
                          <div class="alert alert-warning mb-50" role="alert">
                            <h4 class="alert-heading">
                              {{ error }}
                            </h4>
                          </div>
                        </div>
                        <div class="col-12">
                          <button
                            [disabled]="loading"
                            type="submit"
                            class="btn btn-primary mr-1 mt-1"
                            rippleEffect
                          >
                            <span
                              *ngIf="loading"
                              class="spinner-border spinner-border-sm mr-1"
                            ></span>
                            Save changes
                          </button>
                          <button
                            type="reset"
                            class="btn btn-outline-secondary mt-1"
                            rippleEffect
                          >
                            Cancel
                          </button>
                        </div>
                      </div>
                    </form>
                    <!--/ form -->
                  </div>
                </div>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a
                ngbNavLink
                class="nav-link d-flex py-75"
                id="account-pill-info"
                data-toggle="pill"
                href="#account-vertical-info"
                aria-expanded="false"
              >
                <i data-feather="info" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Information</span>
              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="card-body">
                    <!-- form -->
                    <form
                      class="validate-form"
                      [formGroup]="informationForm"
                      (ngSubmit)="onInfoSettingSubmit()"
                    >
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label for="accountTextarea">Address</label>
                            <textarea
                              class="form-control"
                              id="accountTextarea"
                              name="accountTextarea"
                              rows="2"
                              placeholder="Your address here..."
                              formControlName="address"
                              [ngClass]="{
                                'is-invalid error':
                                  submitted && infoF.address.errors
                              }"
                            ></textarea>
                            <div
                              *ngIf="submitted && infoF.address.errors"
                              class="invalid-feedback"
                              [ngClass]="{
                                'd-block': submitted && infoF.address.errors
                              }"
                            >
                              <div *ngIf="infoF.address.errors?.required">
                                Address is required!
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="accountSelect">Country</label>
                            <select
                              class="form-control"
                              id="accountSelect"
                              name="accountSelect"
                              formControlName="country_code"
                              [ngClass]="{
                                'is-invalid error':
                                  submitted && infoF.country_code.errors
                              }"
                            >
                              <option
                                [value]="item.value"
                                *ngFor="let item of selectCountry"
                              >
                                {{ item.name }}
                              </option>
                            </select>
                            <div
                              *ngIf="submitted && infoF.country_code.errors"
                              class="invalid-feedback"
                              [ngClass]="{
                                'd-block':
                                  submitted && infoF.country_code.errors
                              }"
                            >
                              <div *ngIf="infoF.country_code.errors?.required">
                                Country code is required!
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-phone">Phone</label>
                            <input
                              type="text"
                              class="form-control"
                              id="account-phone"
                              placeholder="Phone number"
                              name="phone"
                              formControlName="mobile_number"
                              [ngClass]="{
                                'is-invalid error':
                                  submitted && infoF.mobile_number.errors
                              }"
                            />
                            <div
                              *ngIf="submitted && infoF.mobile_number.errors"
                              class="invalid-feedback"
                              [ngClass]="{
                                'd-block':
                                  submitted && infoF.mobile_number.errors
                              }"
                            >
                              <div *ngIf="infoF.mobile_number.errors?.required">
                                Mobile number is required!
                              </div>
                              <div *ngIf="infoF.mobile_number.errors?.pattern">
                                Please enter a valid mobile number!
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 mt-75" *ngIf="error">
                          <div class="alert alert-warning mb-50" role="alert">
                            <h4 class="alert-heading">
                              {{ error }}
                            </h4>
                          </div>
                        </div>
                        <div class="col-12">
                          <button
                            [disabled]="loading"
                            type="submit"
                            class="btn btn-primary mt-1 mr-1"
                            rippleEffect
                          >
                            <span
                              *ngIf="loading"
                              class="spinner-border spinner-border-sm mr-1"
                            ></span>
                            Save changes
                          </button>
                          <button
                            type="reset"
                            class="btn btn-outline-secondary mt-1"
                            rippleEffect
                          >
                            Cancel
                          </button>
                        </div>
                      </div>
                    </form>
                    <!--/ form -->
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>
        </div>
        <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
      </div>
    </section>
    <!--/ account setting page -->
  </div>
</div>
