<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
      <div class="alert-body">
        <p>{{ error }}</p>
      </div>
    </ngb-alert>
    <!-- page users view start -->
    <section class="app-user-view">
      <!-- User Card & Plan Starts -->
      <div class="row">
        <!-- User Card starts-->
        <div class="col-md-12">
          <div class="card user-card">
            <div class="card-body">
              <div class="row">
                <div
                  class="col-xl-6 col-lg-12 d-flex flex-column justify-content-between border-container-lg"
                >
                  <div class="user-avatar-section">
                    <div class="d-flex justify-content-start">
                      <div>
                        <div class="mr-1 ml-0">
                          <div
                            [ngClass]="{
                              'bg-light-success': data?.status == 1,
                              'bg-light-secondary': data?.status == 2
                            }"
                            class="rounded p-3"
                          >
                            <h2
                              [ngClass]="{
                                'text-success': data?.status == 1,
                                'text-secondary': data?.status == 2
                              }"
                              class="m-0"
                            >
                              {{ data?.first_name | initials }}
                            </h2>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex flex-column ml-1">
                        <div class="user-info mb-1">
                          <h4 class="mb-0">{{ data?.first_name }}</h4>
                          <span class="card-text">{{ data?.email }}</span>
                        </div>
                        <div class="d-flex flex-wrap">
                          <a
                            routerLink="/dashboard/user/user-edit/{{
                              data?._id
                            }}"
                            class="btn btn-primary"
                            rippleEffect
                            >Edit</a
                          >
                          <button
                            [disabled]="loading"
                            (click)="deleteUser()"
                            class="btn btn-outline-danger ml-1"
                            rippleEffect
                          >
                            <span
                              *ngIf="loading"
                              class="spinner-border spinner-border-sm mr-1"
                            ></span>
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                  <div class="user-info-wrapper">
                    <div class="d-flex flex-wrap">
                      <div class="user-info-title">
                        <i data-feather="user" class="mr-1"></i>
                        <span
                          class="card-text user-info-title font-weight-bold mb-0"
                          >Company</span
                        >
                      </div>
                      <p class="card-text mb-0">{{ data?.company }}</p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="check" class="mr-1"></i>
                        <span
                          class="card-text user-info-title font-weight-bold mb-0"
                          >Status</span
                        >
                      </div>
                      <p class="card-text mb-0">
                        {{ data?.status == 1 ? "Active" : "Inactive" }}
                      </p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="star" class="mr-1"></i>
                        <span
                          class="card-text user-info-title font-weight-bold mb-0"
                          >Role</span
                        >
                      </div>
                      <p class="card-text mb-0">
                        {{ data?.user_type == 1 ? "Admin" : "Client" }}
                      </p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="flag" class="mr-1"></i>
                        <span
                          class="card-text user-info-title font-weight-bold mb-0"
                          >Addres</span
                        >
                      </div>
                      <p class="card-text mb-0">{{ data?.address }}</p>
                    </div>
                    <div class="d-flex flex-wrap">
                      <div class="user-info-title">
                        <i data-feather="phone" class="mr-1"></i>
                        <span
                          class="card-text user-info-title font-weight-bold mb-0"
                          >Email</span
                        >
                      </div>
                      <p class="card-text mb-0">{{ data?.email }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /User Card Ends-->
      </div>
      <!-- User Card & Plan Ends -->
    </section>
    <!-- page users view end -->
  </div>
</div>
